{% extends "base.html" %}

{% block content %}

  <header class="text-center text-white bg-primary masthead">
    <div class="container" data-aos="fade-down" data-aos-duration="500">
        <h1>Devops Project</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">This is my first devops project, which purpose is to be a sandbox for
            learning new technologies and be a Devops / Cloud Engineer.<br><br><br><br>Currently I'm working on migrate
            my stuff from Azure VM to AWS and EKS. Currently i made container repository (ECR) and kubernetes
            cluster<br><br><br><br>All the code used is avaiable on my github page.</h2></div>
        <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/xRizur/FlaskProject" target="_blank" role="button">
  <i class="fab fa-github me-2"></i>Github Project</a>
      </header>

<section id="technologies" class="technologies">
    <div class="container" data-aos="fade-down" data-aos-duration="500"><h2
            class="text-uppercase text-center text-secondary"><br><br><span style="color: rgb(33, 37, 41);">List of Technology learned on this project</span><br><br>
    </h2>
        <hr class="star-dark mb-5">
<div class="row ">
        <div class="col-4">
            <div class="list-group" id="list-tab"
                role="tablist">
                <a class="list-group-item active
                          list-group-item-action"
                   id="list-home-list"
                   data-bs-toggle="list"
                   href="#list-home" role="tab"
                   aria-controls="list-home">
                    Frontend
                </a>
                <a class="list-group-item list-group-item-action"
                   id="list-profile-list" data-bs-toggle="list"
                   href="#list-profile" role="tab"
                   aria-controls="list-profile">
                    CI/CD
                </a>
                <a class="list-group-item list-group-item-action"
                   id="list-messages-list" data-bs-toggle="list"
                   href="#list-messages" role="tab"
                   aria-controls="list-messages">
                    Server
                </a>
                <a class="list-group-item list-group-item-action"
                   id="list-settings-list" data-bs-toggle="list"
                   href="#list-settings" role="tab"
                   aria-controls="list-settings">
                    Containers
                </a>
              <a class="list-group-item list-group-item-action"
                   id="list-AWS-list" data-bs-toggle="list"
                   href="#list-AWS" role="tab"
                   aria-controls="list-AWS">
                    AWS / Azure
                </a>
            </div>
        </div>
        <div class="col-6" >
            <div class="tab-content border border-light rounded p-3" id="nav-tabContent" style="height: 400px;">
                <div class="tab-pane fade show active"
                     id="list-home" role="tabpanel"
                     aria-labelledby="list-home-list">

                    <div class="card-body">

          <b>Bootstrap:</b> For components and style<br><br>
          <b>Flask:</b> For routes and other stuff<br><br>
          <b>Jinja2:</b> For making templates to structure below<br><br>
          <b>Site Structure :</b><br> -base.html<br>
                          -navbar.html<br>
                          -footer.html<br>
                          -index.html<br>
                          -devops-project.html<br><br><br>
        </div>
                </div>
                <div class="tab-pane fade" id="list-profile"
                     role="tabpanel"
                     aria-labelledby="list-profile-list">
                  <b>Jenkins: </b> <br> <br>
                  - Configured to be in container <br>
                  - Configured GithubWebhook (when commit pushed, jenkins get it) <br>
                  - How to install plugins on Jenkins <br>
                  - How to write a Jenkinsfile to do a job
                </div>
                <div class="tab-pane fade" id="list-messages"
                    role="tabpanel"
                    aria-labelledby="list-messages-list">
                    <b>Nginx Web Server:</b> <br><br>-how to setup make own configuration <br><br> -To be reverse proxy <br><br> - Contenerized <br> <br>
                    <b>gunicorn Flask Server:</b> <br><br> -how to setup in container and be connected to Nginx
                </div>
                <div class="tab-pane fade" id="list-settings"
                    role="tabpanel"
                    aria-labelledby="list-settings-list">
                    <b>Docker:</b><br><br>
                    -Dockerfiles for Jenkins, Flaskapp<br><br>
                    -dockercompose for Nginx and Flaskapp<br><br>
                    -Docker networks to connect containers<br><br>
                    -how to build and push container images to ECR<br><br>
                </div>
              <div class="tab-pane fade" id="list-AWS"
                    role="tabpanel"
                    aria-labelledby="list-AWS-list">
                <b>AWS / Azure</b> <br><br>
                    -how to connect to VM and configure DNS on cloud<br><br>
                    -how to connect to aws via terminal, <br><br>
                -how to set up IAM, <br><br>
                -some boto3 stuff(created ecr from python code) <br><br>
                -configure kubernetes deployment from python code <br><br>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br><br><br><br>
    <div class="container" data-aos="fade-down" data-aos-duration="500"><h2
            class="text-uppercase text-center text-secondary mb-0">CI / CD Flowchart</h2>
        <hr class="star-dark mb-5">
  {% include 'flowchart-devops-project.html' %}
    </div>
</section>
{% endblock %}