<!-- Footer -->
  <footer class="text-center footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="text-uppercase">YOU CAN FIND ME ON:<br><br></h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" target="_blank" role="button" href="https://www.facebook.com/maciej.pajak.372/"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" target="_blank" role="button" href="https://www.linkedin.com/in/maciej-paj%C4%85k-b5516026b/"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" target="_blank" role="button" href="https://github.com/xRizur/FlaskProject"><i class="fa fa-github fa-fw"></i></a></li>
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center text-white copyright py-4">
        <div class="container"><small>Copyright ©&nbsp;Maciej Pajak 2023</small></div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
</script>