{% extends "base.html" %}

{% block content %}
  <header class="text-center text-white bg-primary masthead">
    <div class="container" data-aos="fade-down" data-aos-duration="500"><img class="img-fluid d-block mx-auto mb-5"
                                                                             src="assets/img/profile.png">
        <h1>Maciej Pajak</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Devops / Cloud Intern</h2></div>
</header>
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-down" data-aos-duration="500"><h2
            class="text-uppercase text-center text-secondary"><br><span
            style="color: rgb(33, 37, 41);">Technology Stack</span><br><br></h2>
        <hr class="star-dark mb-5">
        <ul class="list-group">
            <li class="list-group-item"><span><br><strong>Programming Languages:</strong>&nbsp;Python, C++, Java, Bash (basics)<br><br></span>
            </li>
            <li class="list-group-item"><span><br><strong>Public Cloud:</strong>&nbsp;GCP(made course) , Azure (Learning now, basics)<br><br></span>
            </li>
            <li class="list-group-item">
                <span><br><strong>Containers:</strong>&nbsp;Docker, Kubernetes (beginner level)<br><br></span></li>
            <li class="list-group-item"><span><br><strong>Infrastructure as a Code:&nbsp; </strong>Terraform ( beginner level)<br><br></span>
            </li>
            <li class="list-group-item"><span><br><strong>Version Control: </strong>Github</span></li>
        </ul>
    </div>
</section>
<section class="text-white bg-primary mb-0" id="about">
    <div class="container" data-aos="fade-down" data-aos-duration="500"><h2
            class="text-uppercase text-center text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Second-year student of applied computer science. I have been
                learning devops related technology for several months now. I am looking for an internship to gain
                experience in the field of devops. I am a fast learner and I am not afraid of new challenges.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Basic Information<br><br><strong>AGE:&nbsp; </strong>&nbsp;
                &nbsp; &nbsp; &nbsp; 21<br>EMAIL:&nbsp; &nbsp; &nbsp;<strong>maciej8pajak8@gmail.com</strong><br>LANGUAGE:<br>English
                (B2)<br>Polish (Native)</p></div>
        </div>
        <div class="text-center mt-4"></div>
    </div>
</section>
<section id="education">
    <div class="container" data-aos="fade-down" data-aos-duration="500"><h2
            class="text-uppercase text-center text-secondary mb-0">Education</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead"><strong>Bachelor's Degree in Applied Computer Sience</strong></p>
                2021 - 2024   Jagiellonian University <br>
                Faculty of physics, Astronomy and Applied computer sience

            </div>
            <div class="col-lg-4 me-auto"><p class="lead"><b>Complex of Eletronic Schools</b></p>2017-2021<br>IT Technican<br></div>
        </div>
    </div>
</section>
{% endblock %}