{% extends "base.html" %}

{% block content %}
  <!-- Just text -->
  <div id="carouselExampleControls" class="carousel slide text-center carousel-dark"
       data-ride="carousel">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="mb-3">Maciej Pająk</h2>
            <h5 class="mb-3">Devops Intern</h5>
          </div>
        </div>
  </div>


 <!-- About -->
  <div class="section" id="about">
    <div class="container">
      <div class="card aos-init aos-animate"
           data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>

            <p>Second-year student of applied computer science. I have been learning devops related technology for several months now.
              I am looking for an internship to gain experience in the field of devops. I am a fast learner and I am not afraid of new challenges.</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">
                    Age:
                  </strong></div>
                <div class="col-sm-8">21</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">
                    Email:
                  </strong></div>
                <div class="col-sm-8">maciej8pajak8@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">
                    Phone:
                  </strong></div>
                <div class="col-sm-8"></div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">
                    Language:
                  </strong></div>
                <div class="col-sm-8">English (B2) <br>  Polish (Native)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="skill">
    <div class="container my-2">
      <div class="h4 text-center mb-4 title" id="educational-info">
        Education
      </div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="h5">Bachelor's Degree in Applied Computer Sience</div>
          <div class="h6">2021 - 2024   Jagiellonian University</div>
          <p>Faculty of physics, Astronomy and Applied computer sience</p>

          <p>
            <b>Projects:</b><br>
          <ul>
            <li>Sfi Academic It festival</li>
          </ul>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="section" id="skill">
    <div class="container my-2">
      <div class="h4 text-center mb-4 title" id="Prof-skill">Technology Stack</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <b>Programming Languages:</b> Python, C++, Java, Bash (basics)<br><br>
          <b>Public Cloud:</b> GCP(made course) , Azure (Learning now, basics)<br><br>
          <b>Containers:</b> Docker, Kubernetes (beginner level)<br><br>
          <b>Infrastructure as a Code:</b> Terraform (beginner level)<br><br>
          <b>Version control :</b> Github<br><br>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  </div>
{% endblock %}